
<!--<div class="d-flex flex-row">-->
  <!--<div class="p-1">-->

  <!--<app-lettersListItem-->
      <!--*ngFor="let letter of lettersDown"-->
      <!--[lettersListItem]="letter">-->

  <!--</app-lettersListItem>-->


  <!--</div>-->

<!--</div>-->



<div class="row">

    <app-lettersListItem class = "col-4"
      *ngFor="let letter of lettersDown"
      [letterItem]="letter">

    </app-lettersListItem>



</div>


<!--<div class="row card-group">-->
  <!--<app-lettersListItem class="col-4"  *ngFor="let letter of lettersDown" [lettersListItem]="letter">-->

  <!--</app-lettersListItem>-->
<!--</div>-->

